song-editor {
    border: 1px solid #7fe3ff;
}

song-editor-grid {
    display: table;
}

song-editor-grid-row {
    display: table-row;
}


song-editor-grid-cell {
    display: table-cell;
    padding: 0px 2px;
}


song-editor-grid-command {
    padding: 0px 2px;
    color: greenyellow;
}

song-editor-grid-command.instrument {
    padding: 0px 2px;
    color: deepskyblue;
}

song-editor-grid-parameter {
    padding: 0px 2px;
    color: green;
}

